*{
    margin : 0;
    padding : 0;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.5s;
    /* transition: 0.5s; */
    /* transition: none; */
}

:root
{
    --aqua-theme: aqua;
    --aqua-theme-transparency1: rgb(0, 255, 255, 0.6);
    --aqua-theme-transparency2: rgb(0, 255, 255, 0.4);

    --white-theme: white;
    --white-theme-transparency1: rgb(255, 255, 255, 0.6);
    --white-theme-transparency2: rgb(255, 255, 255, 0.4);

    --black-theme: black;
    --black-theme-transparency1: rgba(0, 0, 0, 0.6);
    --black-theme-transparency2: rgba(0, 0, 0, 0.4);

    --light-theme : var(--white-theme);
    --light-theme-transparency1 : var(--white-theme-transparency1);
    --light-theme-transparency2 : var(--white-theme-transparency2);

    --light-theme2 : var(--aqua-theme);
    --light-theme2-transparency1 : var(--aqua-theme-transparency1);
    --light-theme2-transparency2 : var(--aqua-theme-transparency2);

    --dark-theme: var(--black-theme);
    --dark-theme-transparency1: var(--black-theme-transparency1);    
}

footer
    {
        /* border: 2px solid red; */
        background: var(--dark-theme);
        color: var(--light-theme);
        padding: 0.5em 1em;
        
    }

    .fcons
    {
        /* border: 2px solid blue; */
        text-align: center;
        padding: 0.8em 0;

    }

    .fcon-i
    {
        border-bottom: 2px solid var(--light-theme);
        padding: 0 0 0.9em 0;
    }

    .fcon-r
    {
        padding: 0.2em 0 0 0;
    }

    .fcon-i>a
    {
        border: 3px solid var(--light-theme);
        border-radius: 20px;

        background: var(--dark-theme);
        color: var(--light-theme);

        margin: 0 0.5em;
        padding: 5px 7px;
        
        /* transition: 0.5s; */
    }

    .fcon-i>a:hover
    {
        border: 3px solid var(--light-theme2);
        box-shadow: 0 0 10px var(--light-theme2);;
        background: var(--light-theme2);;
        color: var(--dark-theme);
    }

    
::-webkit-scrollbar{
    appearance: none;
    width: 0px;
}

    @media screen and (max-width: 310px)
    {
        .fcon-i>a
        {
            margin: 0 0.2em;
        }
    }

