*{
    margin : 0;
    padding : 0;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.5s;
    /* transition: 0.5s; */
}

:root
{
    --aqua-theme: aqua;
    --aqua-theme-transparency1: rgb(0, 255, 255, 0.6);
    --aqua-theme-transparency2: rgb(0, 255, 255, 0.4);

    --white-theme: white;
    --white-theme-transparency1: rgb(255, 255, 255, 0.6);
    --white-theme-transparency2: rgb(255, 255, 255, 0.4);

    --black-theme: black;
    --black-theme-transparency1: rgba(0, 0, 0, 0.6);
    --black-theme-transparency2: rgba(0, 0, 0, 0.4);

    --light-theme : var(--white-theme);
    --light-theme-transparency1 : var(--white-theme-transparency1);
    --light-theme-transparency2 : var(--white-theme-transparency2);

    --light-theme2 : var(--aqua-theme);
    --light-theme2-transparency1 : var(--aqua-theme-transparency1);
    --light-theme2-transparency2 : var(--aqua-theme-transparency2);

    --dark-theme: var(--black-theme);
    --dark-theme-transparency1: var(--black-theme-transparency1);    
    --dark-theme-transparency2: var(--black-theme-transparency2);    
}

body
{    
    background: var(--dark-theme);
    color: var(--light-theme);
}

.body
{
    /* border: 2px solid blue; */
    background: var(--dark-theme);
    color: var(--light-theme);

    padding: 5px 5px;
}

.heading
{
    /* border: 2px solid red; */
    border-bottom: 2px solid var(--light-theme);
    padding: 1rem 1rem;
}

.course-list
{
    /* border: 2px solid red; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-row-gap: 1em;

    padding: 1rem 1rem;
}

.course-card
{
    border: 2px solid var(--light-theme2-transparency2);
    display: inline-block;

    width: 250px;
    
    color: var(--light-theme2);
    text-decoration: none;
    transition: all 0.5s ease;
}

.course-card:hover
{
    border: 2px solid var(--light-theme2);
    transform: scale(1.03);
    /* box-shadow: 0 0 10px var(--light-theme2); */
}

.cpos>img
{
    width: 100%;
}

.cdesc
{
    /* border: 2px solid blue; */
    padding: 0.6em 1em;
    text-align: center;
    transition: 0.7s ;

    color: var(--dark-theme);

    display: flex;
    flex-flow: column wrap;
}
/* 
.cdesc:hover
{
    background: var(--light-theme2);
    color: var(--dark-theme);
} */

.cdesc>span
{
    padding: 0.4rem 0.45rem;
    font-weight: bold;
    text-align: center;
}

.cname
{
    background: var(--light-theme2);
    color: var(--dark-theme);
}

.registerbtn
{
    border: 2px solid transparent;
    background: var(--dark-theme);
    color: var(--light-theme2);

    transition: 0.5s;
}

.registerbtn>i, .startTestbtn>i, .notEligiblebtn>i
{
    padding: 0 5px;
}

.registerbtn:hover
{
    border: 2px solid var(--light-theme2);
}

.startTestbtn
{
    border: 2px solid var(--light-theme2-transparency2);
    color: var(--light-theme2);

    transition: 0.5s;
}

.startTestbtn:hover
{
    border: 2px solid var(--light-theme2);
    color: var(--light-theme2);
}

.notEligiblebtn
{
    border: 2px solid var(--light-theme2-transparency2);
    color: var(--light-theme2-transparency1);
}

.actionbtn
{
    display: none;
}

#profile-courses
{
    background: var(--light-theme2);
    color: var(--dark-theme);
}